
    <div class="bg-navcolor fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a href="#" class="navbar-brand">
                    <img src="../Assets/brand.jpg" class="iso-brand" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-isodate"
                    aria-controls="navbar-isodate" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-isodate">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item ml-4"><a href="/" class="nav-link iso-list"><b>Home</b></a></li>
                        <li class="nav-item ml-4"><a href="/event" class="nav-link iso-list"><b>Events</b></a>
                        </li>
                        <li class="nav-item ml-4"><a href="/about" class="nav-link iso-list"><b>About Us</b></a>
                        </li>
                        <li class="nav-item ml-4"><a href="isoblog.html" class="nav-link iso-list"><b>ISO Blog</b></a>
                        </li>
                        <a href="login.html" class="btn iso-btn ml-4">{{channelName}}</a>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
